
<div class="main-container" class="">
  
    <span class="main-heading col-xs-12">Create Your Scoop</span>
 
  <div class="container-fluid space">
    <div class="row">
    <!-- left side content -->
      <div class="col-xs-6  content-left ">
       
        <div >
        <input class="title-style col-xs-12"  placeholder="Add Title" type="text" ng-model="blog_title">
        </div>
                
        <div poop-editor model="edit_content"></div>
        <div class="col-md-4  add-image-margin "> 
          <!-- Button trigger modal -->
          <button type="button"  class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" ng-click="fetch_images_data(4)">
            Add Image
          </button>
         
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Choose A Image</h4>
                </div>
                <div class="modal-body modal_body_style">
                  <!-- image tumbnails -->
                      <!-- Projects Row -->
                 
                  <div class="item-container" ng-repeat="image_range in images_ranged_data">
                    <div style="margin-left: 5px;" class="row spacing-bottom">

                      <div class="grouped-container " ng-repeat="img in image_range">
                        <div class="col-xs-3 portfolio-item">
                          <a href="#" ng-click="add_image(img)" data-img-id="{{img.id}}" data-img-ref="{{img.get_m_640_link}}">
                            <img id="{{img.id}}" class="img-responsive img-thumbnail" src="{{img.image_s_link}}" alt="{{img.title}}" ng-click="change_colour(img.id)"> 
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.row -->

                  <hr>

                  <!-- Pagination -->
                  <!-- <div class="row text-center">
                    <div class="col-lg-12">
                      <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" ng-click="save_images()">Add Images</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="col-xs-6  content-right">
      <div id="preview-content">{{preview_content}}</div>
      </div>
    </div>
    <div class="row action">
      <div class="col-xs-4 "></div>
      <div class="col-xs-4 " align="center">
        <button type="button" class="btn btn-primary btn-sm">
          Post
        </button>

        <button type="button" class="btn btn-primary btn-sm" >
          Download
        </button>
      </div>
      <div class="col-xs-4 "></div>
    </div>
  </div>
</div>