<div class="main-container" class="border">
<div class="container-fluid space">
  <div class="row">
 
  <div class="col-xs-6 col-md-4 content-left border">

  	
	  <div class="col-md-4  border"> 
	  	<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
		  Add Image
		</button>
	    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
		  Show preview
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Choose Image</h4>
		      </div>
		      <div class="modal-body">
		        <!-- image tumbnails -->
				        <!-- Projects Row -->
		        <div class="row">
		            <div class="col-xs-3 portfolio-item">
		                <a href="#">
		                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
		                </a>
		            </div>
		            <div class="col-xs-3 portfolio-item">
		                <a href="#">
		                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
		                </a>
		            </div>
		            <div class="col-xs-3 portfolio-item">
		                <a href="#">
		                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
		                </a>
		            </div>
		            <div class="col-xs-3 portfolio-item">
		                <a href="#">
		                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
		                </a>
		            </div>
		        </div>
		        <!-- /.row -->

		        <hr>

		        <!-- Pagination -->
		        <div class="row text-center">
		            <div class="col-lg-12">
		                <ul class="pagination">
		                    <li>
		                        <a href="#">&laquo;</a>
		                    </li>
		                    <li class="active">
		                        <a href="#">1</a>
		                    </li>
		                    <li>
		                        <a href="#">2</a>
		                    </li>
		                    <li>
		                        <a href="#">3</a>
		                    </li>
		                    <li>
		                        <a href="#">4</a>
		                    </li>
		                    <li>
		                        <a href="#">5</a>
		                    </li>
		                    <li>
		                        <a href="#">&raquo;</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
	  </div>


  </div>

  <div class="col-xs-6 col-md-4 content-right border">dsd</div>

  </div>
  <div class="action">
	<div class="col-xs-4  border"></div>
	<div class="col-xs-4  border" align="center">
		<button type="button" class="btn btn-primary btn-xs">
		  Post
		</button>

		<button type="button" class="btn btn-primary btn-xs" >
		  Download
		</button>
	</div>
	<div class="col-xs-4  border"></div>
  </div>

  

</div>

</div>