
<div class="container">
  <div class="row">
    <div poopEditor model="editor_content"></div>
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6">
      <div class="preview-container" id="preview-container">
        preview container
      </div>
    </div>
  </div>
</div>


<script>
  // function Editor(input, preview) {
  //   this.update = function () {
  //     preview.innerHTML = markdown.toHTML(input.value);
  //   };
  //   input.editor = this;
  //   this.update();
  // }
  // var $ = function (id) { return document.getElementById(id); };
  // new Editor($("text-input"), $("preview-container"));
</script>

 