.main-container{
  margin-top: 72px;

  height: 100%;
}


.content-left{
  height: 389px;

}

.content-right{
  height: 389px;	
}

.action {
	margin-top:10px;
}

.space{
  padding-left: 10px;
  padding-right: 0px;
}

.row1 {
  margin-left: 4px;
  margin-right: 4px;
}


.border{
  border: 1px solid red
}

 
.title-style{
	float:left;
	font-size: 28px;
}

.float-margin{
	float:left;
    margin-top: 4px;
 }

#preview-content{
	border:1px dotted blue;
	height: 389px;
	overflow-y: scroll;
	padding-left: 12px;

}

.add-image-margin{
	margin-top: 12px;
}

.action{
  margin-top: 40px;
  margin-bottom: 12px;
}

.main-heading {
	font-family: Montez;
  font-size: 49px;
  text-shadow: 2px 3px #BFB7B7;
  text-align: center;
  margin-bottom: 15px;

}

 
.selected-image{
  
  box-shadow: 5px 5px 5px 3px #3C906D
}
 
.modal_body_style{
  height: 450px;
  overflow: auto;
}
 
.spacing-bottom {
    margin-left: auto;
    margin-right: auto;
        padding-bottom: 20px;
}
