.navbar-def {
    background-color: #2C3E50;
    border-color: #e7e7e7;
}

.custom_nav {
	position: relative;
	min-height: 70px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	-webkit-box-shadow: 0 6px 4px -4px black;
	-moz-box-shadow: 0 6px 4px -4px black;
	box-shadow: 0 3px 7px -3px black;
}

.heading{
	font-family:Montez; 
	font-size: 25px;
	color:blue;
	float:left
}

.icon {
	height: 68px;
    width: 60px;
	float:left
}

.icon_heading {
	height: 68px;
    width: 210px;
	float:left
}